 <footer>
        <div class="container">
            <div class="logos">
                <img class="logo" src="images/logo1.jpg" alt="">
                <div class="socials">
                    <a href="#">
                        <img src="images/logo-fb.png" alt="">
                    </a>
                    <a href="">
                        <img src="images/logo-insta.png" alt="">
                    </a>
                    <a href="">
                        <img src="images/logo-linked-in.png" alt="">
                    </a>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&list=RDdQw4w9WgXcQ&start_radio=1">
                        <img src="images/logo-yt.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="language">
                <h5>Language</h5>
                <a href="#">English</a>
                <a href="#">Dutch</a>
                <a href="#">French</a>
            </div>
            <div class="about">
                <h5>About us</h5>
                <a href="#">Who are we</a>
                <a href="#">Delivery</a>
                <a href="#">Our T-shirtzzz</a>
                <a href="#">Contact</a>
                <a href="#">Retourn</a>
                <a href="#">Service</a>
                <a href="#faq">FAQ</a>
            </div>
        </div>
    </footer>
